tmp/*
log/*
public/meta/*
node_modules/*
*~
.DS_Store
ssl/*.pem
pkg/bin
pkg/dist
pkg/python
pkg/tgz
pkg/GITHUB_TOKEN
public/data/QinDenton/
nohup.out
metadata/SSCWeb/SSCWeb-catalog.json
metadata/SSCWeb/old/*
metadata/CAIO/meta
metadata/CAIO/old
metadata/CAIO/tmp
metadata/INTERMAGNET/old
metadata/INTERMAGNET/meta
metadata/INTERMAGNET/ftp.seismo.nrcan.gc.ca
metadata/INTERMAGNET/INTERMAGNET-catalog.json
metadata/INTERMAGNET/html/index.htm

