tmp/*
log/*
public/meta/*
node_modules/*
*~
pkg/bin
pkg/dist
pkg/python
pkg/tgz
pkg/GITHUB_TOKEN
public/data/QinDenton/
nohup.out
metadata/SSCWeb/SSCWeb-catalog.json
metadata/SSCWeb/old/*
metadata/INTERMAGNET/old/*
metadata/INTERMAGNET/meta/*
metadata/INTERMAGNET/ftp.seismo.nrcan.gc.ca/*
metadata/INTERMAGNET/INTERMAGNET-catalog.json
metadata/INTERMAGNET/html/index.htm

