# sudo cp hapi-server-dev.service /lib/systemd/system
# sudo chmod 644 /lib/systemd/system/hapi-server-dev.service
# sudo systemctl start hapi-server-dev
# sudo systemctl status hapi-server-dev
# sudo systemctl enable hapi-server-dev

[Unit]
Description=Development HAPI Server
Documentation=https://github.com/rweigel/hapi-server/server-nodejs

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/server-nodejs-dev
ExecStart=/usr/bin/sh -c etc/hapi-server-dev.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
