[Unit]
Description=Development HAPI Server
Documentation=https://github.com/rweigel/hapi-server/server-nodejs

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/server-nodejs-dev
ExecStart=/usr/bin/sh -c etc/hapi-server-dev.sh
Restart=always

[Install]
WantedBy=multi-user.target
